div.review {
	margin-top: 50px;
	height: 400px;
}

div.review-left {
	width: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	float:left;
}

div.review-left-swap {
	width: 600px;
	display: flex;
	flex-direction: column;
}

h1.review-title {
	font-family: 'Permanent Marker', cursive;
	opacity: 0.7;
	margin-bottom: 50px;
}

img.review-pin {
	top: 850px;
	left: 430px;
}

img.review-pin-swap {
	top: 1292px;
	left: 1070px;
	transform:scaleX(-1);
}

img.review-pin-diff {
	top:1750px;
}

div.review-left-polaroid {
	width: 15em;
    height: 17em;
	background: url(images/polaroid.png);
	padding: 1em;
	box-sizing:border-box;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.7);
	border-radius: 4px;
	transform-origin: top center;
	transform: rotate(5deg);
}

div.review-polaroid-swap {
	transform-origin: top center;
	transform: rotate(-5deg);
}

div.review-image {
	width: 13em;
	height: 13em;
	box-shadow: 0 0 5px #faebd7 inset;
}

p.review-text {
	font-size:1.25em;
}

div.review-right {
	float:right;
	width: 600px;
	display: flex;
	flex-direction: column;
}

div.review-right-swap {
	width: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	float:right;
}

p.review-description {
	font-family: 'Caveat Brush', cursive;
	font-size: 1.25em;
	opacity: 0.7;
	margin-top:0;
}

p.review-description span {
	display: block;
}

img.customer-image {
	border-radius: 100px;
	align-self: center;
}

div.review-swap div.review-left {
	order:1;
}

div.dark-box {
	width: 650px;
	height: 410px;
	position: absolute;
	background: rgba(0,0,0,0.025);
	border-radius: 50px;
}

div.db0 {
	right: 205px;
	top: 780px;
}

div.db1 {
	left: 205px;
    top: 1230px;
}

div.db2 {
	right: 205px;
    top: 1680px;
}